@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    @apply bg-[#FFEBD9]
}

@layer base{
    .bars{
        @apply rounded-2xl md:h-16 h-14
    }
    .bars-texts{
        @apply md:text-2xl font-bold text-xl
    }
    .bar-buttons{
        @apply bg-white transition ease-in-out hover:scale-110
    }
    .button{
        @apply rounded-2xl md:h-16 h-12 sm:w-1/4 max-w-[180px] md:mr-20
    }
    .notes-container{
        @apply flex flex-col justify-center items-center max-w-5xl m-auto
    }
    .notes-container-responsive{
        @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-4
    }
    .circle-small{
        @apply fixed -bottom-[90%] sm:-bottom-[45%] -left-[45%] w-[664px] h-[664px] rounded-full scale-150
    }
    .circle-move{
        @apply animate-wave
    }
    .circle-bg{
        @apply fixed -bottom-[65%] w-[996px] h-[996px] rounded-full -z-[1]
    }
}

@layer utilities{
    .animation-delay-1000{
        animation-delay: 1s;
    }
    .animation-delay-2000{
        animation-delay: 2s;
    }
    .animation-delay-3000{
        animation-delay: 3s;
    }
    .animation-delay-4000{
        animation-delay: 4s;
    }
    .animation-delay-5000{
        animation-delay: 5s;
    }
    .animation-delay-6000{
        animation-delay: 6s;
    }
    .animation-delay-7000{
        animation-delay: 7s;
    }
    .animation-delay-8000{
        animation-delay: 8s;
    }
    .animation-delay-9000{
        animation-delay: 9s;
    }
    .animation-delay-10000{
        animation-delay: 10s;
    }
    .animation-delay-11000{
        animation-delay: 11s;
    }
    .animation-delay-12000{
        animation-delay: 12s;
    }


    .animation-delay-1500{
        animation-delay: 1.5s;
    }
    .animation-delay-2500{
        animation-delay: 2.5s;
    }
    .animation-delay-3500{
        animation-delay: 3.5s;
    }
    .animation-delay-4500{
        animation-delay: 4.5s;
    }
    .animation-delay-5500{
        animation-delay: 5.5s;
    }
    .animation-delay-6500{
        animation-delay: 6.5s;
    }
    .animation-delay-7500{
        animation-delay: 7.5s;
    }
    .animation-delay-8500{
        animation-delay: 8.5s;
    }
    .animation-delay-9500{
        animation-delay: 9.5s;
    }
    .animation-delay-10500{
        animation-delay: 10.5s;
    }
    .animation-delay-11500{
        animation-delay: 11.5s;
    }
    .animation-delay-12500{
        animation-delay: 12.5s;
    }



}